<div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="5px" fxLayoutAlign="flex-start">
    

      
          <button  class="botao" mat-raised-button [routerLink]="['/form-config-jud/0']"
          >
            <mat-icon>settings</mat-icon> JUD
          </button>  
    
          <button  class="botao" mat-raised-button [routerLink]="['/lista-planta']"
          >
            <mat-icon>settings</mat-icon> Prioridades do Sistema
          </button>
    
       <!--   <button  class="botao" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
        -->
    
        </div>