<mat-divider></mat-divider>
<footer>
  <div fxFlex fxLayout="row" fxLayoutAlign="left">
    <div fxLayout="row" fxLayoutGap="25px">
      <span><a href="https://www.herbaria.gov.br/" target="_blank">IFPA</a> - Instituto Federal de Ciência e Tecnologia do Pará</span>
    </div>
  </div>

  <div fxFlex fxLayout="row" fxLayoutAlign="center">
    <div fxLayout="row" fxLayoutGap="25px">
      <span>&copy;&nbsp;Todos os direitos reservados&nbsp;{{ year }}</span>
    </div>
  </div>

  <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
    <div fxLayout="row" fxLayoutGap="25px">
      <span class="ml-auto">Versão: <span class="text-info">{{ version }}</span></span>
    </div>
  </div>
</footer>