<div class="card">
  <div class="card-body">

  <div class="card-header">
    <h3 style="text-align: left;">{{titulo}} Plantas</h3>
  </div>

  <div class="card-body" >
    <form  class="example-container" (ngSubmit)="f.form.valid && savePlanta(f)" #f="ngForm" novalidate
      [style.fontSize.px]="12">

      <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="20px" fxLayoutAlign="flex-start">
        <div fxLayout="column" fxFlex="60">
          <mat-form-field appearance="outline">
            <mat-label for="familia">Família</mat-label>
            <input matInput [(ngModel)]="planta.familia" name="familia" #familia="ngModel"
              required>
          </mat-form-field>
        </div>
      </div>

      <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="20px" fxLayoutAlign="flex-start">

        <div fxLayout="column" fxFlex="60">
          <mat-form-field appearance="outline">
            <mat-label for="nomeCientifico">Nome Científico</mat-label>
            <input matInput [(ngModel)]="planta.nomeCientifico" name="nomeCientifico"
              #nomeCientifico="ngModel" required>
          </mat-form-field>
        </div>
      </div>

      <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="20px" fxLayoutAlign="flex-start">

        <div fxLayout="column" fxFlex="60">
          <mat-form-field appearance="outline">
            <mat-label for="nomeComum">Nome Comum</mat-label>
            <input matInput [(ngModel)]="planta.nomeComum" name="nomeComum" #nomeComum="ngModel"
              required>
          </mat-form-field>
        </div>

        <div fxLayout="column" fxFlex="60">
          <mat-form-field appearance="outline">
            <mat-label for="nomeComum">Síndrome de Polinização</mat-label>
            <input matInput [(ngModel)]="planta.polinizacao" name="polinizacao" #nomeComum="ngModel"
              required>
          </mat-form-field>
        </div>

      </div>

      <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="5px" fxLayoutAlign="flex-start">
        <button type="submit" mat-stroked-button class="botao"  (click)="savePlanta(f)"   >
          <mat-icon>done</mat-icon>
          Salvar
        </button>
        <button mat-stroked-button class="botao"  (click)="cleanForm(f)">
          <mat-icon>clear</mat-icon>
          Limpar
        </button>
      </div>
    </form>
  </div>
</div>
</div>

