<mat-toolbar class="toolbar">
    <mat-toolbar-row>
      <button mat-icon-button (click)="toggleSideBar()">
        <mat-icon class="icon">menu</mat-icon>
      </button>
      <img src="assets/logo-herbaria.png" class='textologo' style="height: 75%;" alt="banpara">
      <div class="textologo"> Herbaria </div>
  
      <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
        <ul fxLayout="row" fxLayoutGap="20px">
          <li>
            <button mat-button [matMenuTriggerFor]="menu">
              <mat-icon class="icon">person_outline</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <mat-icon>exit_to_app</mat-icon>
                Sair
              </button>
            </mat-menu>
          </li>
        </ul>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  